{{!-- шапка --}}
<header class="slack-header">
  
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main>
  
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="slack-footer">
  
</footer>
{{!-- підвал --}}