{{!-- шапка --}}
<header class="slack-header">
  <section class="hero">
    <div class="hero-container">
      <div class="hero-block">
        <div class="hero-block-header">
          <h6>Slack Features</h6>
          <h4>One platform for your team and your work</h4>
        </div>
        <div class="hero-block-footer">
          <p class="hero-text">All the features of Slack work together so you can, too.</p>
          <div class="hero-buttons">
            <button>Try for free</button>
            <button>See all features</button>
          </div>
        </div>
      </div>
      <img src="/img/jpg/hero-full-ui.jpg" alt="Hero image" class="hero-image">
    </div>
    <div class="hero-brands">
      <img src="/img/png/airbnb-logo.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/target-logo.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/uber.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/logo-onemedical.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/logo-newscorp.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/us-department-of-veteran-affairs.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/intuit.png" alt="Hero brand" class="hero-brand">
      <img src="/img/png/logo-sonos.png" alt="Hero brand" class="hero-brand">
    </div>
  </section>
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main class="slack-main">
  <section class="features-container1">
    <div class="features-block-main1">
      <div class="features-block-header1">
        <h4 class="features-title">Work more easily with everyone</h4>
        <p class="features-text">Stay on the same page and make decisions faster by bringing all of your
work communication into one place.</p>
      </div>
      <img src="/img/jpg/img-work-easily.jpg" alt="Features image" class="features-image">
    </div>
    <div class="features-grid-main">
      <div class="features-grid-item">
        <img src="/img/svg/connect.svg" alt="Slack connect" class="features-grid-icon">
        <h5 class="features-grid-title">Slack connect</h5>
        <p class="features-grid-text">Collaborate with teams at other companies the same way you do with teams at your own.</p>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
      <div class="features-grid-item">
        <img src="" alt="" class="features-grid-icon">
        <h5 class="features-grid-title"></h5>
        <span class="features-grid-arrow"></span>
      </div>
    </div>
  </section>
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="slack-footer">
  
</footer>
{{!-- підвал --}}