{{!-- шапка --}}
<header class="slack-header">
  <section class="hero">
    <div class="hero-container">
      <div class="hero-block">
        <div class="hero-block-header">
          <h6>Slack Features</h6>
          <h4>One platform for your team and your work</h4>
        </div>
        <div class="hero-block-footer">
          <p class="hero-text">All the features of Slack work together so you can, too.</p>
          <div class="hero-buttons">
            <button>Try for free</button>
            <button>See all features</button>
          </div>
        </div>
      </div>
      <img src="/img/hero-full-ui.jpg" alt="Hero image" class="hero-image">
    </div>
    <div class="hero-brands">
      <img src="/img/airbnb-logo.png" alt="Hero brand" class="hero-brand">
      <img src="/img/target-logo.png" alt="Hero brand" class="hero-brand">
      <img src="/img/uber.png" alt="Hero brand" class="hero-brand">
      <img src="/img/logo-onemedical.png" alt="Hero brand" class="hero-brand">
      <img src="/img/logo-newscorp.png" alt="Hero brand" class="hero-brand">
      <img src="/img/us-department-of-veteran-affairs.png" alt="Hero brand" class="hero-brand">
      <img src="/img/intuit.png" alt="Hero brand" class="hero-brand">
      <img src="/img/logo-sonos.png" alt="Hero brand" class="hero-brand">
    </div>
  </section>
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main class="slack-main">
  <section class="features-container">
    <div class="features-block">
      <div class="featured-block-header">
        <h4 class="features-title"></h4>
        <p class="features-text"></p>
      </div>
      <img src="" alt="" class="features-image">
    </div>
  </section>
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="slack-footer">
  
</footer>
{{!-- підвал --}}