{{!-- шапка --}}
<header class="slack-header">
  
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main class="slack-main">
  <div class="hero-container">
    <div class="hero-block">
      <div class="h6 hero-label"></div>
      <h4 class="hero-title"></h4>
      <p></p>
      <div class="hero-buttons"><button></button><button></button></div>
    </div>
    <div class="hero-brands"><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""></div>
  </div>
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="slack-footer">
  
</footer>
{{!-- підвал --}}