{{!-- шапка --}}
<header class="slack-header">
  <div class="hero-container">
    <div class="hero-block">
      <h6 class="hero-label">Slack Features</h6>
      <h4 class="hero-title">One platform for your team and your work</h4>
      <p>All the features of Slack work together so you can, too.</p>
      <div class="hero-buttons">
        <button>Try for free</button>
        <button>See all features</button>
      </div>
    </div>
    <img src="../../public//img/hero-full-ui.jpg.jpg" alt="Hero image" class="hero-image">
  </div>
  <div class="hero-brands">
    <img src="../../public/img/airbnb-logo.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/logo-newscorp.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/intuit.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/us-department-of-veteran-affairs.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/logo-onemedical.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/logo-sonos.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/uber.png" alt="Hero brand" class="hero-band">
    <img src="../../public/img/target-logo.png" alt="Hero brand" class="hero-band">
  </div>
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main class="slack-main">
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="slack-footer">
  
</footer>
{{!-- підвал --}}