.page {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.page-content {
	margin: 0 auto;
	max-width: 960px;
}
/* {{!-- шапка --}} */
.template1-header {
	padding: 24px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	border-bottom: 1px solid #000;
}
.icon {
	width: 24px;
	height: 24px;
	border-radius: 6px;
	background-color: #563D7C;
	text-align: center;
	font-weight: 600;
	color: #fff;
}
ul.template1-nav {
	margin: 0;
	padding: 0;
}
nav.template1-nav {
	display: inline-flex;
}
.template1-nav-item a {
	color: #343440;
	text-decoration: none;
}
.template1-nav-item a:not(:last-of-type) {
	margin-right: 24px;
}
/* {{!-- шапка --}} */
/* {{!-- основна частина --}} */
.hero-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}
.hero-title {
	color: #212529;
	font-weight: 500;
	font-size: 56px;
	margin-bottom: 12px;
}
.hero-text {
	color: #343440;
	width: 585px;
	text-align: center;
	font-size: 20px;
	line-height: 150%;
	margin: 0;
}
/* {{!-- основна частина --}} */
/* {{!-- підвал --}} */
.template1-footer {
	display: flex;
	justify-content: space-between;
}
.template1-menu-down {
	display: flex;
	flex-direction: column;
}
/* {{!-- підвал --}} */