:root {
	--border-color: #ced4da;
	--border-bottom-color: #dee2e6;
	--color-white: #fff;
	--color-black: #000;
	--color-button: #0d6efd;
	--color-gray: #5a5a5a;
	--color-grayb: #6c757d;
	--color-form: #563d7c;
	--color-text: #212529;

	--size-m: 36px;
	--size-md: 32px;
	--size-xd: 24px;
	--size-d: 16px;

	--space-xl: 80px;
	--space-l: 40px;
	--space-s: 36px;
	--space-m: 24px;
	--space-xm: 12px;

	--border-radius: 12px;
}
* {
	margin: 0;
	padding: 0;
}
.page-7 {
	display: flex;
	justify-content: center;
	background-color: #111827;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: var(--size-d);
}
.page-content-7 {
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 1150px;
	width: 100%;
	color: var(--color-white);
}
/* {{!-- шапка --}} */
.template7-header {
	display: flex;
	flex-direction: column;
}
.icon {
	display: flex;
	border-radius: 10px;
	background-color: #885FFB;
	padding: 8px var(--space-xm);
	text-align: center;
	font-weight: 600;
	color: var(--color-white);
}
ul {
	margin: 0;
	padding: 0;
}
.my-nav {
	display: inline-flex;
	justify-content: space-between;
	padding: var(--space-xm) 0;
	border-bottom: 1px solid #253041;
}
.my-nav a {
	color: var(--color-white);
	text-decoration: none;
}
.my-nav a:not(:last-child) {
	margin-right: var(--space-m);
}
.sub-header {
	display: flex;
	justify-content: space-between;
	padding-top: var(--space-xm);
	font-size: 14px;
}
.sub-header span {
	padding: 2px 6px;
	margin-right: 8px;
	font-weight: 700;
	color: rgb(130, 90, 251);
	border-radius: calc(var(--border-radius) / 3);
	background-color: rgba(130, 90, 251, .2);
}
.sub-header a {
	color: var(--color-white);
	text-decoration: none;
}
.sub-header div:last-child {
	display: flex;
	gap: 5px;
}
/* {{!-- шапка --}} */
/* {{!-- основна частина --}} */
main {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.hero-block-7 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 300px;
	padding: 32px;
	border-radius: var(--border-radius);
	background: radial-gradient(632.95% 141.42% at 0.00% 0.00%, rgba(17, 24, 39, 0.00) 0%, rgba(78, 63, 146, 0.60) 100%);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}
.hero-title-7 {
	font-size:  var(--size-m);
	font-weight: 700;
}
.hero-description-7 {
	font-family: Inter;
	color: #9CA3AF;
	text-align: center;
	line-height: 150%;
}
.hero-button-7 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	padding: 12px 119px;
	border-radius: 10px;
	background-color: #885FFB;
}
.about-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	padding: 32px;
	border-radius: var(--border-radius);
	background-color: rgba(42, 49, 65, 0.44);
	backdrop-filter: blur(25px);
}
.about-heading {
	font-size: var(--size-xd);
	font-weight: 700;
}
.about-info {
	font-family: Inter;
	font-size: 14px;
	line-height: 170%;
}
.articles-block {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.articles-block-title {
	display: flex;
	justify-content: space-between;
}
.articles-block-title h5 {
	font-size: 32px;
	font-weight: 700;
}
.articles-block-title button {
	display: flex;
	padding: 12px 20px;
	border-radius: 10px;
	border: 1px solid #9CA3AF;
	background-color: inherit;
	color: var(--color-white);
	transition: color background-color 1s;
}
.articles-block-title button:hover {
	color: var(--color-black);
	background-color: var(--color-white);
}
.article-cards {
	display: flex;
	gap: 32px;
}
.article-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}
.article-card-badge {
	display: flex;
	padding: 2px 6px;
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.article-card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	border-radius: var(--border-radius);
	position: relative;
}
.article-card-title {
}
.article-card-description {
}
.article-card-button {
}
/* {{!-- основна частина --}} */
/* {{!-- підвал --}} */
.template7-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}
.b-copyright {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.template7-footerText {
	color: #6C757D;
	font-size: 12.8px;
}
.template7-footerLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.template7-footerHeaders {
	display: block;
}
.template7-footerHeader {
	color: #212529;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 12px;
}
.template7-footerLinksText {
	color: #6C757D;
	font-size: 15px;
}
.template7-menu-down {
	display: flex;
	flex-direction: column;
}
/* {{!-- підвал --}} */