:root {
	--border-color: #ced4da;
	--border-bottom-color: #dee2e6;
	--color-white: #fff;
	--color-black: #000;
	--color-button: #0d6efd;
	--color-gray: #5a5a5a;
	--color-grayb: #6c757d;
	--color-form: #563d7c;
	--color-text: #212529;

	--size-m: 36px;
	--size-md: 32px;
	--size-xd: 24px;
	--size-d: 16px;

	--space-xl: 80px;
	--space-l: 40px;
	--space-s: 36px;
	--space-m: 24px;
	--space-xm: 12px;

	--border-radius: 12px;
}
* {
	margin: 0;
	padding: 0;
}
.page-7 {
	display: flex;
	justify-content: center;
	background-color: #111827;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: var(--size-d);
}
.page-content-7 {
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 1150px;
	width: 100%;
	color: var(--color-white);
}
/* {{!-- шапка --}} */
.template7-header {
	display: flex;
	flex-direction: column;
}
.icon {
	display: flex;
	border-radius: 10px;
	background-color: #885FFB;
	padding: 8px var(--space-xm);
	text-align: center;
	font-weight: 600;
	color: var(--color-white);
}
ul {
	margin: 0;
	padding: 0;
}
.my-nav {
	display: inline-flex;
	justify-content: space-between;
	padding: var(--space-xm) 0;
	border-bottom: 1px solid #253041;
}
.my-nav a {
	color: var(--color-white);
	text-decoration: none;
}
.my-nav a:not(:last-child) {
	margin-right: var(--space-m);
}
.sub-header {
	display: flex;
	justify-content: space-between;
	padding-top: var(--space-xm);
	font-size: 14px;
}
.sub-header span {
	padding: 2px 6px;
	margin-right: 8px;
	font-weight: 700;
	color: rgb(130, 90, 251);
	border-radius: calc(var(--border-radius) / 3);
	background-color: rgba(130, 90, 251, .2);
}
.sub-header a {
	color: var(--color-white);
	text-decoration: none;
}
/* {{!-- шапка --}} */
/* {{!-- основна частина --}} */
main {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.hero-block-7 {
}
.hero-title-7 {
}
.hero-description-7 {
}
.hero-button-7 {
}
.main-container {
}
.about-block {
}
.about-heading {
}
.about-info {
}
.articles-block {
}
.article-card {
}
.article-card-badge {
}
.article-card-image {
}
.article-card-title {
}
.article-card-description {
}
.article-card-button {
}
/* {{!-- основна частина --}} */
/* {{!-- підвал --}} */
.template7-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}
.b-copyright {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.template7-footerText {
	color: #6C757D;
	font-size: 12.8px;
}
.template7-footerLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.template7-footerHeaders {
	display: block;
}
.template7-footerHeader {
	color: #212529;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 12px;
}
.template7-footerLinksText {
	color: #6C757D;
	font-size: 15px;
}
.template7-menu-down {
	display: flex;
	flex-direction: column;
}
/* {{!-- підвал --}} */