:root {
	--color-white: #fff;
	--color-black: #000;
	--color-gray: #5a5a5a;
	--color-grayb: #6c757d;
	--color-form: #563d7c;
	--color-text: #212529;

	--size-m: 36px;
	--size-md: 32px;
	--size-d: 16px;

	--space-xl: 80px;
	--space-l: 40px;
	--space-s: 36px;
	--space-m: 24px;
	--space-xm: 12px;
}
.page-5 {
	display: flex;
	justify-content: center;
	background-color: var(--color-white);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: var(--size-d);
}
.page-content-5 {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	width: 100%;
	gap: var(--space-xl);
}
/* {{!-- шапка --}} */
.template1-header {
	padding: var(--space-m);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-black);
}
.icon {
	width: 24px;
	height: 24px;
	border-radius: 6px;
	background-color: #563D7C;
	text-align: center;
	font-weight: 600;
	color: var(--color-white);
}
ul {
	margin: 0;
	padding: 0;
}
nav.template1-nav {
	display: inline-flex;
}
.template1-nav-item a {
	color: #343440;
	text-decoration: none;
}
.template1-nav-item a:not(:last-of-type) {
	margin-right: var(--space-m);
}
/* {{!-- шапка --}} */
/* {{!-- основна частина --}} */
main {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
}
.msgfm-container {
	display: flex;
	gap: var(--space-l);
}
.message-block {
	flex: 30 0 0;
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	padding: var(--space-m);
}
.message-title {
}
.list-name {
}
.list-message {
}
.list-day {
}
.form-block {
}
.form-title {
}
.form-input-container {
}
.form-input {
}
.form-checkbox {
}
.form-button {
}
.form-text {
}
.advantage-container {
}
.advantage-card {
}
.advantage-title {
}
.advantage-text {
}
/* {{!-- основна частина --}} */
/* {{!-- підвал --}} */
.template1-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}
.b-copyright {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.template1-footerText {
	color: #6C757D;
	font-size: 12.8px;
}
.template1-footerLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.template1-footerHeaders {
	display: block;
}
.template1-footerHeader {
	color: #212529;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 12px;
}
.template1-footerLinksText {
	color: #6C757D;
	font-size: 15px;
}
.template1-menu-down {
	display: flex;
	flex-direction: column;
}
/* {{!-- підвал --}} */