@font-face {
	font-family: HelveticaNeueBold, sans-serif;
	font-weight: 700;
	font-style: normal;
	src: url('../font/HelveticaNeueBold.ttf');
}
:root {
	--border-color: #ced4da;
	--border-bottom-color: #dee2e6;
	--color-white: #fff;
	--color-black: #000;
	--color-button: #611f69;
	--color-gray: #5a5a5a;
	--color-grayb: #6c757d;
	--color-form: #563d7c;
	--color-text: #212529;

	--size-m: 36px;
	--size-md: 32px;
	--size-xd: 24px;
	--size-d: 16px;

	--space-xl: 80px;
	--space-l: 40px;
	--space-s: 36px;
	--space-m: 24px;
	--space-xdm: 16px;
	--space-xm: 12px;

	--border-radius: 12px;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: HelveticaNeueBold, sans-serif;
	font-weight: 400;
	font-size: var(--size-d);
}
.slack-header {
	display: flex;
	justify-content: center;
	background-color: var(--color-white);
}
.hero {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}
.hero-container {
	margin-top: 100px;
	max-width: 1260px;
	width: 100%;
	display: flex;
	gap: 64px;
}
.hero-block {
	padding: 0 68px 16px 0;
	font-weight: 700;
}
.text-container {
	display: flex;
	flex-direction: column;
	gap: var(--space-xdm);
	margin-bottom: 28px;
	width: 478px;
}
.text-container h6 {
	font-size: 14px;
}
.text-container h4 {
	font-family: HelveticaNeueBold;
	font-size: 50px;
}
.hero-text {
	font-size: 20px;
	margin-bottom: 24px;
}
.hero-buttons {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 8px;
}
.hero-buttons button {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.8px;
	border-radius: 4px;
}
.hero-buttons button:first-child {
	padding: 20px 48px;
	background-color: var(--color-button);
	color: var(--color-white);
}
.hero-buttons button:last-child {
	padding: 20px 52px;
	background-color: var(--color-white);
	border: 1px solid var(--color-button);
	color: var(--color-button);
}
.hero-image {
	
}
.hero-brands {
	display: flex;
	gap: var(--space-l);
	padding: 12px 20px;
}
.hero-brand {
	height: min-content;
}

/* {{!-- основна частина --}} */

/* {{!-- основна частина --}} */
/* {{!-- підвал --}} */

/* {{!-- підвал --}} */