{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

	<head>
		<title>
			Css practice
		</title>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/dist/css/layout/template-apple/style.css">
		<link rel="stylesheet" href="/dist/css/container/template-apple/style.css">
	</head>
	

	<body>
		<nav>
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
				<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item">
				<span class="text-secondary">{{page.title}}</span>
				</li>
			</ul>
		</nav>
		{{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
		{{{body}}}

	</body>

</html>
