@use '../../lib/service.scss' as s;

* {
margin: 0;
padding: 0;
}
a {
text-decoration: none;
}
ul {
  display: flex;
  list-style-type: none;
}
li:last-child::before {
  content: '--';
  margin-left: s.space(1)
}
body {
 font-family: 'Roboto', sans-serif;
 background-color: s.color('white');
 font-size: s.font();
}