<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/template-1" text="template-1" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-2" text="template-2" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-3" text="template-3" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-4" text="template-4" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-5" text="template-5" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-6" text="template-6" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-7" text="template-7" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-slack" text="template-slack" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-dashboard" text="template-dashboard" noLine=true }}
  </li>
  {{!-- <li class="nav-item">
    {{> link href="/template-apple" text="template-apple" noLine=true }}
  </li> --}}
</ul>