<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/template-1" text="template-1" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/template-2" text="template-2" noLine=true }}
  </li>
</ul>