<div class="flex-column">
  <img src="{{img}}" alt="{{title}}" class="image">
  <div class="flex-column slack-col">
  <h6 class="slack-image-title">{{title}}</h6>
  <h6 class="slack-image-text">{{text}}</h6>
  </div>
  <div class="learn-block">
  <h5 class="learn-text">Learn more</h5>
  <span class="slack-arrow"></span>
  </div>
</div>