<div class="flex-column shadow">
  <img src="{{img}}" alt="{{title}}" class="image">
  <div class="flex-column slack-cont ">
    <div class="flex-column gap-8 slack-col">
      <h6 class="slack-image-title">{{title}}</h6>
      <h6 class="slack-image-text">{{text}}</h6>
    </div>
    <div class="flex-row learn-block">
      <h5 class="learn-text">Learn more</h5>
      <img src="/img/svg/arrowb.svg" class="learn-arrow">
    </div>
  </div>
</div>