<ul class="template-nav">
  <li class="template-nav-item {{#if isvertical}}template-menu-down{{/if}}">
    {{#each list}}
      {{> link href=url text=text noLine=true }}
    {{/each}} <!-- end of list -->
  </li>
</ul>