<ul class="template1-nav">
  <li class="template1-nav-item {{#if isvertical}}template1-menu-down{{/if}}">
    {{#each list}}
      {{> link href=url text=text noLine=true }}
    {{/each}} <!-- end of list -->
  </li>
</ul>